* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: rgb(31, 31, 31);
  --color: white;
}
body {
  box-sizing: border-box;
}
.wrapper {
  background-color: var(--bgColor);
  color: var(--color);
  width: 100%;
  height: 100%;
}
.content {
  background-color: rgba(240, 248, 255, 0.062);
  height: inherit;
  padding: 10vw;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p{
  font-size: 1.5rem;
}
#modals {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  color: var(--color);
  max-width: 100vmin;
  max-height: 100vmin;
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
#modals .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
#modals .close::after {
  content: "\000D7";
  font-size: 3rem;
}
.backdrop {
  filter: drop-shadow(2px 2px black) blur(30px) contrast(20%);
  background-color: rgba(144, 195, 240, 0.349);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#modals .modal,
#modals #modal {
  background-color: rgba(240, 248, 200);
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 100px;
  border-radius: 20px;
  margin: 10px;
  color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#status {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: linear-gradient(180deg, rgb(44, 44, 44), black);
  border-radius: 50%;
  box-shadow: 5px 5px 30px #8fff92, -5px -5px 30px #ff72ff;
}
button {
  background: transparent;
  border: none;
  font: inherit;
  font-size: 1.5rem;
  color: inherit;
}
@media screen and (max-width: 420px) {
  button {
    font-size: 1em;
  }
}
*[noshow] {
  display: none;
}
button + button {
  margin-top: 0.5em;
  margin-left: 0.5em;
}
.btn-fancy {
  background-color: aliceblue;
  color: black;
  border-radius: 60px;
  padding: 1em 2em;
  cursor: pointer;
}
.btns > .btn-fancy{
  font-size: 1rem;
}
#video {
  max-height: 500px;
  max-width: 500px;
  background-color: black;
}
#video > * {
  height: 100%;
  width: 100%;
}
input{
  /* height: max(200px,50vw); */
  width: max(200px,60vw);
  max-width: 400px;
  padding: 0.3em;
  font-size: 1.2rem;
  border-radius: 30px;
  /* max-height: 300px; */
}
input.empty {
  border: red;
  box-shadow: 2px 2px 3px #872929, -2px -2px 11px red;
  margin: 10px 0;
}
input.empty + .error{
  display: block;
  color:red;
  font-weight: bold;
  align-self: left
}
input+.error{
  display:none
}
input.empty+.error::before{
  content:' \203C';
  color:red;
}
#messages{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
  overflow: hidden;
}
#messages>div{
  background-color: rgba(250, 235, 215, 0.63);
  color: black;
  padding: 10px;
  margin:5px;
  border-radius: 9px;
  width:100%;
}
#messages>div:focus{
  background-color: rgba(250, 235, 215, 0.925);
}
#sdps-2{
  margin: 10px;
  height: 100%;
}
#sdps-2 > span{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color:#872929;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}
#sdps-2 > span:active{
  background-color: red;
}